<html>
<head>
<title>FloatIn.kt</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #cc7832;}
.s1 { color: #a9b7c6;}
.s2 { color: #808080;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
FloatIn.kt</font>
</center></td></tr></table>
<pre><span class="s0">package </span><span class="s1">com.example.vodamanewakala.Fragments</span>

<span class="s1">import android.os.Bundle</span>
<span class="s1">import android.view.LayoutInflater</span>
<span class="s1">import android.view.View</span>
<span class="s1">import android.view.ViewGroup</span>
<span class="s1">import androidx.fragment.app.Fragment</span>
<span class="s1">import com.example.vodamanewakala.R</span>

<span class="s0">class </span><span class="s1">FloatIn : Fragment() {</span>


    <span class="s1">override </span><span class="s0">fun </span><span class="s1">onCreate(savedInstanceState: Bundle?) {</span>
        <span class="s0">super</span><span class="s1">.onCreate(savedInstanceState)</span>
    <span class="s1">}</span>

    <span class="s1">override </span><span class="s0">fun </span><span class="s1">onCreateView(</span>
        <span class="s1">inflater: LayoutInflater</span><span class="s0">, </span><span class="s1">container: ViewGroup?</span><span class="s0">,</span>
        <span class="s1">savedInstanceState: Bundle?</span>
    <span class="s1">): View? {</span>
        <span class="s2">// Inflate the layout for this fragment</span>
        <span class="s0">return </span><span class="s1">inflater.inflate(R.layout.fragment_float_in</span><span class="s0">, </span><span class="s1">container</span><span class="s0">, false</span><span class="s1">)</span>
    <span class="s1">}</span>


<span class="s1">}</span></pre>
</body>
</html>