<html>
<head>
<title>Wakala.kt</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #cc7832;}
.s1 { color: #a9b7c6;}
.s2 { color: #808080;}
.s3 { color: #6a8759;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
Wakala.kt</font>
</center></td></tr></table>
<pre><span class="s0">package </span><span class="s1">com.example.airtelmanewakala.Fragments</span>

<span class="s1">import android.os.Bundle</span>
<span class="s1">import android.util.Log</span>
<span class="s1">import android.view.LayoutInflater</span>
<span class="s1">import android.view.View</span>
<span class="s1">import android.view.ViewGroup</span>
<span class="s1">import androidx.fragment.app.Fragment</span>
<span class="s1">import androidx.lifecycle.Observer</span>
<span class="s1">import androidx.lifecycle.ViewModelProvider</span>
<span class="s1">import androidx.recyclerview.widget.LinearLayoutManager</span>
<span class="s1">import com.example.airtelmanewakala.RecyclerView.RecyclerViewWakala</span>
<span class="s1">import com.example.airtelmanewakala.databinding.FragmentWakalaBinding</span>
<span class="s1">import com.example.airtelmanewakala.databinding.FragmentWakalaMkuuBinding</span>
<span class="s1">import com.example.airtelmanewakala.db.MoblieDatabase</span>
<span class="s1">import com.example.airtelmanewakala.db.MobileRepository</span>
<span class="s1">import com.example.airtelmanewakala.viewmodel.WakalaMkuuViewModel</span>
<span class="s1">import com.example.airtelmanewakala.viewmodel.WakalaMkuuViewModelFactory</span>
<span class="s1">import com.example.airtelmanewakala.viewmodel.WakalaViewModelFactory</span>
<span class="s1">import com.example.airtelmanewakala.viewmodel.WakalaViewModel</span>

<span class="s0">class </span><span class="s1">Wakala : Fragment() {</span>
    <span class="s1">private lateinit </span><span class="s0">var </span><span class="s1">binding: FragmentWakalaBinding</span>
    <span class="s1">private lateinit </span><span class="s0">var </span><span class="s1">wakalaViewModel: WakalaViewModel</span>
    <span class="s1">override </span><span class="s0">fun </span><span class="s1">onCreate(savedInstanceState: Bundle?) {</span>
        <span class="s0">super</span><span class="s1">.onCreate(savedInstanceState)</span>

    <span class="s1">}</span>
<span class="s2">//    override fun onCreateView(</span>
<span class="s2">//        inflater: LayoutInflater, container: ViewGroup?,</span>
<span class="s2">//        savedInstanceState: Bundle?</span>
<span class="s2">//    ): View? {</span>
<span class="s2">//        // Inflate the layout for this fragment</span>
<span class="s2">//        binding= FragmentWakalaBinding.inflate(inflater, container, false)</span>
<span class="s2">//</span>
<span class="s2">//        val dao = context?.let { AirtelDatabase.getInstance(it).AirtelDAO }</span>
<span class="s2">//        val repository = dao?.let { AirtelRepository(it) }</span>
<span class="s2">//        val factory = repository?.let { WakalaViewModelFactory(it) }</span>
<span class="s2">//        wakalaViewModel= factory?.let { ViewModelProvider(this, it).get(WakalaViewModel::class.java) }!!</span>
<span class="s2">//        binding.myWakalaViewModel= wakalaViewModel</span>
<span class="s2">//        binding.lifecycleOwner=this</span>
<span class="s2">//        initRecyclerView()</span>
<span class="s2">////        getMydata()</span>
<span class="s2">//        return  binding.root</span>
<span class="s2">//</span>
<span class="s2">//    }</span>

    <span class="s1">override </span><span class="s0">fun </span><span class="s1">onCreateView(</span>
        <span class="s1">inflater: LayoutInflater</span><span class="s0">, </span><span class="s1">container: ViewGroup?</span><span class="s0">,</span>
        <span class="s1">savedInstanceState: Bundle?</span>
    <span class="s1">): View? {</span>

        <span class="s1">binding= FragmentWakalaBinding.inflate(inflater</span><span class="s0">, </span><span class="s1">container</span><span class="s0">, false</span><span class="s1">)</span>
<span class="s2">//       binding =DataBindingUtil.inflate(inflater,R.layout.fragment_wakala, container, false)</span>
        <span class="s0">val </span><span class="s1">dao = context?.let { AirtelDatabase.getInstance(it).AirtelDAO }</span>
        <span class="s0">val </span><span class="s1">repository = dao?.let { AirtelRepository(it) }</span>
        <span class="s0">val </span><span class="s1">factory = repository?.let { WakalaViewModelFactory(it) }</span>
        <span class="s1">wakalaViewModel= factory?.let { ViewModelProvider(</span><span class="s0">this, </span><span class="s1">it).get(WakalaViewModel::</span><span class="s0">class</span><span class="s1">.java) }!!</span>
        <span class="s1">binding.myWakalaViewModel=wakalaViewModel</span>
        <span class="s1">binding.lifecycleOwner=</span><span class="s0">this</span>
        <span class="s1">initRecyclerView()</span>
        <span class="s0">return  </span><span class="s1">binding.root</span>
        <span class="s2">// Inflate the layout for this fragment</span>
        <span class="s2">//return inflater.inflate(R.layout.fragment_wakala, container, false)</span>
    <span class="s1">}</span>

<span class="s2">//    private fun getMydata() {</span>
<span class="s2">//        val service= RetroInstance.getRetroInstance()</span>
<span class="s2">//        val retrofitData = service?.getData()</span>
<span class="s2">//</span>
<span class="s2">//        if (retrofitData != null) {</span>
<span class="s2">//            retrofitData.enqueue(object : Callback&lt;List&lt;WakalaList&gt;?&gt; {</span>
<span class="s2">//                override fun onResponse(</span>
<span class="s2">//                    call: Call&lt;List&lt;WakalaList&gt;?&gt;,</span>
<span class="s2">//                    response: Response&lt;List&lt;WakalaList&gt;?&gt;</span>
<span class="s2">//                ) {</span>
<span class="s2">//                    val responseBody =response.body()</span>
<span class="s2">//                    val mystringBuilder = StringBuilder()</span>
<span class="s2">//                    if (responseBody != null) {</span>
<span class="s2">//                        for (myData in responseBody){</span>
<span class="s2">//                           mystringBuilder.append(myData.id)</span>
<span class="s2">//                            mystringBuilder.append(&quot;\n&quot;)</span>
<span class="s2">//                        }</span>
<span class="s2">//                    }</span>
<span class="s2">//                   binding.txtId.text=mystringBuilder</span>
<span class="s2">//                    Log.d(&quot;WAKALAmy&quot;, &quot;oKEY&quot;)</span>
<span class="s2">//                }</span>
<span class="s2">//</span>
<span class="s2">//                override fun onFailure(call: Call&lt;List&lt;WakalaList&gt;?&gt;, t: Throwable) {</span>
<span class="s2">//                  Log.d(&quot;WAKALAmy&quot;, &quot;omFailure: &quot;+t.message)</span>
<span class="s2">//                }</span>
<span class="s2">//            })</span>
<span class="s2">//        }</span>
<span class="s2">//        else{</span>
<span class="s2">//            Log.d(&quot;WAKALA&quot;, &quot;omNull&quot;)</span>
<span class="s2">//        }</span>
<span class="s2">//    }</span>


    <span class="s0">fun </span><span class="s1">initRecyclerView(){</span>
<span class="s2">//        binding.transactionRecyclerView.layoutManager= LinearLayoutManager(this)</span>
        <span class="s1">binding.wakalaRecyclerView.layoutManager= LinearLayoutManager(context)</span>
        <span class="s1">displayTransactionList()</span>
    <span class="s1">}</span>
    <span class="s2">//</span>
    <span class="s1">private </span><span class="s0">fun </span><span class="s1">displayTransactionList(){</span>
        <span class="s1">wakalaViewModel.wakala.observe(</span><span class="s0">this, </span><span class="s1">Observer {</span>
            <span class="s1">Log.i(</span><span class="s3">&quot;MYWAKALAMKUU&quot;</span><span class="s0">,</span><span class="s1">it.toString())</span>
            <span class="s1">binding.wakalaRecyclerView.adapter= RecyclerViewWakala(it)</span>
        <span class="s1">})</span>
<span class="s2">//        transactionViewModal.transaction.observe(this, Observer {</span>
<span class="s2">//            Log.i(&quot;MYTAG&quot;,it.toString())</span>
<span class="s2">//</span>
<span class="s2">//        })</span>
    <span class="s1">}</span>
<span class="s1">}</span></pre>
</body>
</html>