<html>
<head>
<title>WakalaMkuu.kt</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #cc7832;}
.s1 { color: #a9b7c6;}
.s2 { color: #808080;}
.s3 { color: #6a8759;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
WakalaMkuu.kt</font>
</center></td></tr></table>
<pre><span class="s0">package </span><span class="s1">com.example.airtelmanewakala.Fragments</span>

<span class="s1">import android.os.Bundle</span>
<span class="s1">import android.util.Log</span>
<span class="s1">import android.view.LayoutInflater</span>
<span class="s1">import android.view.View</span>
<span class="s1">import android.view.ViewGroup</span>
<span class="s1">import androidx.fragment.app.Fragment</span>
<span class="s1">import androidx.lifecycle.Observer</span>
<span class="s1">import androidx.lifecycle.ViewModelProvider</span>
<span class="s1">import androidx.recyclerview.widget.LinearLayoutManager</span>
<span class="s1">import com.example.airtelmanewakala.RecyclerView.RecyclerViewWakalaMkuu</span>
<span class="s1">import com.example.airtelmanewakala.databinding.FragmentWakalaMkuuBinding</span>
<span class="s1">import com.example.airtelmanewakala.db.MoblieDatabase</span>
<span class="s1">import com.example.airtelmanewakala.db.MobileRepository</span>
<span class="s1">import com.example.airtelmanewakala.viewmodel.WakalaMkuuViewModel</span>
<span class="s1">import com.example.airtelmanewakala.viewmodel.WakalaMkuuViewModelFactory</span>

<span class="s0">class </span><span class="s1">WakalaMkuu : Fragment() {</span>
    <span class="s1">private lateinit </span><span class="s0">var </span><span class="s1">binding: FragmentWakalaMkuuBinding</span>
    <span class="s1">private lateinit </span><span class="s0">var </span><span class="s1">wakalaMkuuViewModel: WakalaMkuuViewModel</span>
    <span class="s1">override </span><span class="s0">fun </span><span class="s1">onCreate(savedInstanceState: Bundle?) {</span>
        <span class="s0">super</span><span class="s1">.onCreate(savedInstanceState)</span>

<span class="s2">//        val dao = AirtelDatabase.getInstance(requireContext() as Application).AirtelDAO</span>
<span class="s2">//        val repository = AirtelRepository(dao)</span>
<span class="s2">//        val factory = WakalaMkuuViewModelFactory(repository)</span>
<span class="s2">//        wakalaMkuuViewModel= ViewModelProvider(this,factory).get(WakalaMkuuViewModel::class.java)</span>
<span class="s2">//</span>

    <span class="s1">}</span>
    <span class="s1">override </span><span class="s0">fun </span><span class="s1">onCreateView(</span>
        <span class="s1">inflater: LayoutInflater</span><span class="s0">, </span><span class="s1">container: ViewGroup?</span><span class="s0">,</span>
        <span class="s1">savedInstanceState: Bundle?</span>
    <span class="s1">): View? {</span>

      <span class="s1">binding= FragmentWakalaMkuuBinding.inflate(inflater</span><span class="s0">, </span><span class="s1">container</span><span class="s0">, false</span><span class="s1">)</span>
<span class="s2">//       binding =DataBindingUtil.inflate(inflater,R.layout.fragment_wakala_mkuu, container, false)</span>
        <span class="s0">val </span><span class="s1">dao = context?.let { AirtelDatabase.getInstance(it).AirtelDAO }</span>
        <span class="s0">val </span><span class="s1">repository = dao?.let { AirtelRepository(it) }</span>
        <span class="s0">val </span><span class="s1">factory = repository?.let { WakalaMkuuViewModelFactory(it) }</span>
        <span class="s1">wakalaMkuuViewModel= factory?.let { ViewModelProvider(</span><span class="s0">this, </span><span class="s1">it).get(WakalaMkuuViewModel::</span><span class="s0">class</span><span class="s1">.java) }!!</span>
        <span class="s1">binding.myWakalaMkuuViewModel=wakalaMkuuViewModel</span>
        <span class="s1">binding.lifecycleOwner=</span><span class="s0">this</span>
        <span class="s1">initRecyclerView()</span>
        <span class="s0">return  </span><span class="s1">binding.root</span>
        <span class="s2">// Inflate the layout for this fragment</span>
         <span class="s2">//return inflater.inflate(R.layout.fragment_wakala_mkuu, container, false)</span>
    <span class="s1">}</span>


    <span class="s0">fun </span><span class="s1">initRecyclerView(){</span>
<span class="s2">//        binding.transactionRecyclerView.layoutManager= LinearLayoutManager(this)</span>
       <span class="s1">binding.wakalamkuuRecyclerView.layoutManager=LinearLayoutManager(context)</span>
        <span class="s1">displayTransactionList()</span>
    <span class="s1">}</span>
<span class="s2">//</span>
    <span class="s1">private </span><span class="s0">fun </span><span class="s1">displayTransactionList(){</span>
    <span class="s1">wakalaMkuuViewModel.wakalaMkuu.observe(</span><span class="s0">this, </span><span class="s1">Observer {</span>
        <span class="s1">Log.i(</span><span class="s3">&quot;MYWAKALAMKUU&quot;</span><span class="s0">,</span><span class="s1">it.toString())</span>
        <span class="s1">binding.wakalamkuuRecyclerView.adapter=RecyclerViewWakalaMkuu(it)</span>
    <span class="s1">})</span>
<span class="s2">//        transactionViewModal.transaction.observe(this, Observer {</span>
<span class="s2">//            Log.i(&quot;MYTAG&quot;,it.toString())</span>
<span class="s2">//</span>
<span class="s2">//        })</span>
    <span class="s1">}</span>
<span class="s1">}</span></pre>
</body>
</html>